<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.slshop.admin.user.UserMapper">
    <resultMap id="userMap" type="com.slshop.common.entity.User">
        <id column="U_ID" property="id"/>
        <result column="EMAIL" property="email" />
        <result column="PASSWORD" property="password" />
        <result column="FIRST_NAME" property="firstName" />
        <result column="LAST_NAME" property="lastName" />
        <result column="PHOTOS" property="photos" />
        <collection property="roles" ofType="com.slshop.common.entity.Role">
            <id column="R_ID" property="id"/>
            <result column="R_NAME" property="name" />
            <result column="DESCRIPTION" property="description" />
        </collection>
    </resultMap>

    <select id="findByEmail" parameterType="String" resultMap="userMap">
        SELECT
            U.ID AS U_ID,
            U.EMAIL,
            U.PASSWORD,
            U.FIRST_NAME,
            U.LAST_NAME,
            U.PHOTOS,
            R.ID AS R_ID,
            R.NAME AS R_NAME,
            R.DESCRIPTION
        FROM USERS U
            LEFT JOIN USERS_ROLES UR ON U.ID = UR.USER_ID
            LEFT JOIN ROLES R ON R.ID = UR.ROLE_ID
        WHERE EMAIL = #{email}
    </select>
</mapper>