<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  th:replace="~{layouts/base :: layout(~{::title}, ~{}, ~{}, ~{::body/content()})}"
>
<head>
  <title>商品詳細</title>
</head>
<body>
  <!-- Contents -->
  <section class="py-3">
    <div class="container px-4 px-lg-5 my-3">
      <div class="row gx-4 gx-lg-5">
        <div class="col-md-6">
          <img class="card-img-top mb-5 mb-md-0" th:src="@{${product.imagePath}}" alt="product image" />
        </div>
        <div class="col-md-6">
          <h1 class="display-5 fw-bolder" id="productName">[[${product.name}]]</h1>
          <div class="fs-5 mb-5">
            <span>&yen;[[${product.price}]]</span>
          </div>
          <p class="lead mb-5">
            [[${product.description}]]
          </p>
          <form class="d-flex input-group" th:action="@{/products/add/{productId}(productId=${product.id})}" th:method="POST" id="cartForm">
              <button type="button" class="btn btn-secondary" id="btnM">
                <i class="bi bi-dash"></i>
              </button>
              <input type="text" class="form-control text-center" readonly style="max-width: 3rem" id="textValue" name="textValue" value="0" />
              <button type="button" class="btn btn-secondary" id="btnP">
                <i class="bi bi-plus"></i>
              </button>
              <button class="btn btn-outline-primary flex-shrink-0 ms-4" type="button" id="cartB" th:data-product-id="${product.id}">
                  <i class="bi-cart-fill me-1"></i>
                  カートに追加
              </button>
<!--              <input type="hidden" id="userId" name="userId" th:value="${#authentication.principal.customer.id}" />-->
               <input type="hidden" name="productId" th:value="${product.id}">
               	<div th:fragment="messageModal" class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="modalTitle">
				 <div class="modal-dialog">
			      <div class="modal-content">
			        <div class="modal-header">
			          <h1 class="modal-title fs-5" id="modalTitle">カートへ商品追加</h1>
			          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
			        </div>
			        <div class="modal-body">
			          <p id="modalBody" th:text="${message}">テキスト</p>
			        </div>
			        <div class="modal-footer">
			          <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal" id="close">閉じる</button>
			        </div>
			      </div>
			    </div>
			  </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="py-3 bg-light">
    <div class="container px-4 px-lg-5 mt-1">
      <div class="row">
          <div class="col-12">
              <h3 class="fw-bolder mb-4">商品詳細</h3>
              <ul th:each="detail : ${product.details}" th:object="${item}">
                  <li class="py-1">
                    <span>[[${detail.name}]]</span><span class="mx-1">:</span><span>[[${detail.value}]]</span>
                  </li>
              </ul>
          </div>
      </div>
    </div>
  </section>
  <script>
	  let btnP = document.getElementById("btnP");
	  let textValue = document.getElementById("textValue");
	  btnP.addEventListener("click", function(){
		  textValue.value++;
	  })
	  
	  let btmM = document.getElementById("btnM");
	  btmM.addEventListener("click",function(){
		  if(textValue.value > 0){
			  textValue.value--;
		  }
	  })
	  
	  let cartB = document.getElementById("cartB");
	  cartB.addEventListener("click", function(){
		  let messageModal = new bootstrap.Modal(document.getElementById("messageModal")); 
		  messageModal.show();
		  
	  })
	  
	  let close = document.getElementById("close");
	  close.addEventListener("click",function(){
		  let messageModal = new bootstrap.Modal(document.getElementById("messageModal"));
		  messageModal.hide();
		  document.getElementById("cartForm").submit();
	  })
	 document.addEventListener('DOMContentLoaded', function () {
});
	  
  </script>
</body>
</html>
