<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.slshop.admin.order.OrderMapper">
    <resultMap id="orderMap" type="com.slshop.common.entity.order.Order">
        <id column="ID" property="id"/>
        <result column="ORDER_TIME" property="orderTime" />
        <result column="TOTAL" property="total" />
        <result column="DELIVER_DAYS" property="deliverDays" />
        <result column="DELIVER_DATE" property="deliverDate" />
        <result column="PAYMENT_METHOD" property="paymentMethod" />
        <result column="STATUS" property="status" />
        <result column="CUSTOMER_ID" property="customerId" />
        <association property="customer" javaType="com.slshop.common.entity.Customer">
        	<id column="ID" property="id"/>
        	<result column="EMAIL" property="email"/>
        	<result column="PASSWORD" property="password"/>
        	<result column="FIRST_NAME" property="firstName"/>
        	<result column="LAST_NAME" property="lastName"/>
        	<result column="ENABLED" property="enabled"/>
        </association>
         <association property="address" javaType="com.slshop.common.entity.Address">
        	<id column="ID" property="id"/>
        	<result column="PHONE_NUMBER" property="phoneNumber"/>
        	<result column="ADDRESS_LINE_1" property="addressLine1"/>
        	<result column="ADDRESS_LINE_2" property="addressLine2"/>
        	<result column="CITY" property="city"/>
        	<result column="STATE" property="state"/>
        	<result column="POSTAL_CODE" property="postalCode"/>
        	<result column="CUSTOMER_ID" property="customerId"/>
        	<result column="DEFAULT_ADDRESS" property="defaultAddress"/>
        </association>
    </resultMap>
    <select id="findOrder"  resultMap="orderMap">
		SELECT
			O.ID,
			C.LAST_NAME,
			C.FIRST_NAME,
			O.ORDER_TIME,
			O.PAYMENT_METHOD,
			O.STATUS,
			O.TOTAL,
			A.STATE, 
			A.CITY,
			A.ADDRESS_LINE_1
		FROM
			ORDERS O
		INNER JOIN
			CUSTOMERS C
		ON
			O.CUSTOMER_ID = C.ID
		INNER JOIN
			ADDRESSES A
		ON
			A.CUSTOMER_ID = C.ID
    </select>
</mapper>